body {
    background-color: rgb(24, 23, 23);
}

h1 {
    text-decoration: underline;
    color: rgb(255, 252, 252);
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    color: rgb(250, 245, 245);
    width: 100px;
    margin-left: 30px;
}

.Completos {
    color: aquamarine;
    padding-left: 30px;
}

.Aprendendo {
    color: rgb(202, 22, 22);
}

h5 {
    color: white;
    text-align: end;
}

p {
    color: white;
}

ul {
    color: white;
}

a {
    text-decoration: none;
    color: yellow;
}


